{
  "name": "datastore.js",
  "version": "1.0",
  "author": "Boughpohpue Lukas Kulik",
  "team": "Infertus",
  "domain": "web-development",
  "subdomain": "client-side",
  "category": "utils",
  "group": "javascript",
  "export_as": "class",
  "default_export": "StoredCollection",
  "requires": [],
  "content": [
    "*.js"
  ],
  "description": "A safe and persistent collection library for browser storage, with easy CRUD, customizable sorting, and reactive updates on localStorage or sessionStorage.",
  "tags": [
    "CRUD",
    "js", "javascript",
    "storage", "browser storage",
    "localStorage", "sessionStorage"
  ]
}
